 <%- include('header'); -%>
 <p></p>
  <div class ="text-center">
  <h2>Sighting Index <%= index %> </h2>
  </div>
<p></p>
<div class="container ">
  <div class="row justify-content-center">
    <div class="card " style="width: 90vw;">
      <ul class="list-group list-group-flush">
        <p></p>
      <!--  <h3 class = "text-center">Sightings List</h3> -->
        <li class="list-group-item ">
          <div class="row justify-content-center">
            <div class="row px-0 ">
              <div class ="col-12 px-0">
                <!-- enctype="multipart/form-data" -->
                <form action ="/sighting/<%= index %>?_method=PUT" method="POST"  >
                  <div>
                    <label for="datetime" class="mb-3"><b>Date_(space)_Time:</b></label>  
                    <input type="text" name="datetime" id="datetime"  value="<%=sighting.datetime%>">
                  </div>
                  <div>
                    <label for="city" class="mb-3"><b>City:</b></label>  
                    <input type="text" name="city" id="city"  value="<%=sighting.city%>">
                  </div>
                  <div>
                    <label for="state" class="mb-3" ><b>State:</b></label>  
                    <input type="text" name="state" id="state" value="<%=sighting.state%>">
                  </div>
                  <div>
                    <label for="shape" class="mb-3"><b>Shape:</b></label>  
                    <input type="text" name="shape" id="shape" value="<%=sighting.shape%>">   
                  </div>
                  <div>
                    <label for="duration" class="mb-3"><b>Duration(mins):</b></label>  
                    <input type="text" name="duration" id="duration" value="<%=sighting.duration%>">   
                  </div>        
                  <div>
                    <label for="text" class="mb-1"><b>Report:</b></label><br>   
                    <textarea name ="text" id="text" class="txtBox mb-3"><%=sighting.text%></textarea>   
                  </div>
                  <div>
                    <label for="summary" class="mb-2"><b>Summary:</b></label><br>  
                    <textarea name ="summary" id="summary" class="smBox mb-2" ><%=sighting.summary%></textarea>   
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-auto"><input type="submit" value="Submit"></div>
                  </div> 
                </form>
              </div> 
            </div>     
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%-include('footer');-%>