<%- include('header'); -%>
<p></p>
<p></p>
<div class="text-center">
<h2>Sightings</h2>
</div>
<p></p>
<p></p>
    <form>
        <div class ="row justify-content-center">
          <div class="dropdown text-center">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Sort Categories
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item active" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </div>  
      <p></p>
      <div class ="container">
        <div class ="row text-center">
          <div class ="col-12">
            <button type="submit" class="">Submit</button>
          </div>
        </div>
      </div>
    </form>
     <p></p>
      <p></p>



<div class = "container">
  <div class ="row justify-content-center">
    <div class="card px-0" style="width: 90vw;">
      <ul class="list-group list-group-flush">
        <p></p>
        <p></p>
        <h3 class = "text-center">Sightings List</h3>
        <p></p>

<% for (let i = 0; i < sighting.length; i += 1) { %> 
        <li class="list-group-item px-0">
          <div class="row">
            <div class="row">
              <div class="col">
                <a href = "./sighting/<%= i %>"><u>Sighting Index <%= i %></u></a>
              </div>
            </div>   
            <div class="row">
              <div class ="col-auto"><%= sighting[`${i}`].datetime.split(" ")[0]%></div> |
              <div class ="col-auto"><%= sighting[`${i}`].shape %></div> |
              <div class ="col-auto"><%= sighting[`${i}`].city %></div>
            </div>    
            <div class="row">
              <div class ="col-10"><i><%= sighting[`${i}`].summary %></i></div>
              <div class ="col-2 text-end">
                <button type="submit" class="btn-sm">Del</button>
              </div>
            </div>   
          </div>
        </li>
<% } %>
      </ul>
    </div>
  </div>
</div>
<%- include('footer'); -%>