<%-include('header');-%>

<div class="container ">
 <p></p>
  <div class="row justify-content-center">
    <div class="card " style="width: 90vw;">
      <div class="text-center">
        <p></p>
        <h2>Sighting #<%= index %></h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
          <div class="row justify-content-center">
            <div class="row px-0 ">
              <div class ="col-12 px-0">
                <div><b>Date:</b> <%= sighting.datetime %></div>
                <div><b>City:</b> <%= sighting.city %></div>
                <div><b>State:</b> <%= sighting.state %></div>
                <div><b>Shape:</b> <%= sighting.shape %></div>
                <div><b>Duration:</b> <%= sighting.duration %></div>
                <p></p>
                <div><b>Description:</b><br> <%= sighting.text %></div>
                <p></p>
              </div> 
            </div>     
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%-include('footer')-%>